<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Navegação NodeJS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="bi bi-house-door"></i> Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias"><i class="bi bi-tags"></i> Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/epa"><i class="bi bi-robot"></i> EPA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/agradecimentos"><i class="bi bi-heart"></i> Agradecimentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/salas"><i class="bi bi-people"></i> Salas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sobretec"><i class="bi bi-building"></i> Sobre Etec</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipe"><i class="bi bi-person-circle"></i> Equipe</a>
            </li>
        </ul>
    </div>
</nav>
