<div class="container mt-5">
    <h1 class="text-center mb-5">Agradecimentos</h1>
    <p>Gostaríamos de agradecer a todos que contribuíram para o sucesso deste projeto.</p>
    <ul>
        <li>Professores e orientadores</li>
        <li>Equipe de desenvolvimento</li>
        <li>ETEC Martinho di Ciero - Itu</li>
        <li>Comunidade de desenvolvedores</li>
    </ul>
    <div class="text-center mt-4">
        <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" alt="Agradecimentos" style="width: 150px;">
    </div>
</div>
