<div class="container mt-5">
    <h1 class="text-center mb-5">Bem-vindo ao Projeto Node.js - EPA ETEC</h1>
    <p class="lead text-center">Este é o projeto final de navegação utilizando Node.js, Express e EJS.</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Sobre o EPA</h2>
            <p>O EPA (Etec de Portas Abertas) é um projeto que visa aproximar os estudantes da ETEC com a comunidade, apresentando seus cursos, projetos e integrantes.</p>
            <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" alt="EPA" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h2>Objetivos do Projeto</h2>
            <ul>
                <li>Implementar navegação entre páginas com Express e EJS.</li>
                <li>Utilizar ícones do Bootstrap Icons para melhorar a interface.</li>
                <li>Exibir informações sobre cursos, equipe e projetos.</li>
                <li>Incluir imagens e vídeos para enriquecer o conteúdo.</li>
            </ul>
        </div>
    </div>
</div>
